
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}


/* Shared styles */

.display-flex {
    display: flex;
}

.nav-content , 
.banner{
    max-width: 1440px;
    margin: 0 auto;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

/* Header section */
.container{
    background-color: antiquewhite;
}
.nav-content{
 justify-content: space-between;
 align-items: center;
}

.nav-content h2{
    font-size: 3rem;
    font-weight: 700;
}

.nav-content ul a{
    text-decoration: none;
    font-weight: 500;
}

.nav-link{
    list-style: none;
    text-align: center;
    gap: 20px;
    padding: 0;
}

.nav-content p{
    font-weight: 400;
    font-size: 1rem;
}
.btn-primary{
    background-color: rgb(255, 144, 14);
    color: white;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
}

.header-desc{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
 .header-desc h1{
    font-size: 4rem;
    font-weight: 700;
 }

.banner img{
    width: 100%;
}


 /* features-section */
  

 .features-container{
    padding: 20px;
    align-items: center;
 }
 .features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.features-content .gray {
 color: gray;
}

.features-content .orng{
    color: orange;
}

.features-content{
    margin-left: 120px;
}

.features-content h2{
    font-weight: 700;
    font-size: 3rem;
}


.fact-card{
    display: grid;
    grid-template-columns:repeat(4,1fr);
}
.cards{
    border: 1px solid #ff900e;
    width: 220px;
    height: 220px;
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.fact-card h3{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top:5px;
    margin-bottom: 10px;
}

.fact-card p{
    font-size: 1.25rem;
    font-weight: 600;
}

.fact-desc{
    max-width: 540px;
    padding-bottom: 20px;
}
/* Responsive design */
 @media screen and (max-width: 570px) {
       .nav-content ,
       .nav-link , 
       .features-container ,
       .fact-content {
       flex-direction: column;  
 
      }
     }

     @media screen and (max-width:570px) {
        .features-img{
          grid-template-columns: repeat(1,1fr);
        }

        .features-content{
          margin-left: 20px;
        }

        .fact-card{
            grid-template-columns: repeat(1,1fr);
            padding: 20px 20px 120px 120px;
            gap: 24px;
        }

        .fact-desc{
            padding: 40px;
        }
     }


     /* Medium-device responsive */

     @media screen and (min-width: 570px) and (max-width: 992px) {
        .features-container {
            flex-direction: column;
        }

        .features-content{
           text-align: center;
           margin: 50px ;
        } 
     }



    


