
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}


/* Shared styles */

.display-flex {
    display: flex;
}

.nav-content , 
.banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* Header section */
.container{
    background-color: antiquewhite;
}
.nav-content{
 justify-content: space-between;
 align-items: center;
}

.nav-content ul a{
    text-decoration: none;
    font-weight: 500;
}

.nav-content .nav-link{
    justify-content: space-between;
    list-style: none;
    gap: 30px;
    align-items: center;
}

.nav-content p{
    font-weight: 400;
    font-size: 1rem;
}
.btn-primary{
    background-color: rgb(255, 144, 14);
    color: white;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
}

.header-desc{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner img{
    width: 100%;
}


/* Responsive design */
 @media screen and (max-width: 570px) {
      .nav-content, .nav-link{
        flex-direction: column;
      }
     }
